@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #070F2B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070F2B;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.edit_delete {
  opacity: 0; 
  transform: translateX(40px); 
  transition: opacity 0.5s ease, transform 2s ease; 
  margin: 20px;
}

.main_content:hover .edit_delete {
  opacity: 1; 
  transform: translateX(0);
  margin: 20px;
}

.main_content:hover .right_content{ 
  padding-left: 40px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.right_content
{
  padding: 20px 0px 20px 0px;
  transition: 1s ease;
}

/* .edit_delete {
  display: none;
  transform: translateX(-20px); 
  transition: transform 0.5s ease; 
  margin: 20px;
}

.main_content:hover .edit_delete {
  display: flex;
  transform: translateX(0); 
  margin: 20px;
} */